* {
  box-sizing: border-box;
}
:root {
  --main-color: rgba(34, 166, 179, 0.2);
  --secondary-color: rgba(126, 214, 223, 0.5);
  --shadow-color: rgba(48, 51, 107, 1);
  --white-lit-color: rgba(255, 255, 255, 0.4);
  --white-color: #fff;
}
body {
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
  letter-spacing: 0.2px;
  direction: rtl;
}
/* PreLoeader Style */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
#preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: var(--shadow-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* PreLoeader Style End */
.btn-primary {
  background-color: var(--secondary-color);
  border-color: var(--main-color);
}
.btn-primary:hover {
  background-color: var(--main-color);
  border-color: var(--secondary-color);
}
.social-links a:hover > .fa-facebook {
  color: #3b5998;
}
.social-links a:hover > .fa-youtube {
  color: #ff0000;
}
.social-links a:hover > .fa-pinterest {
  color: #cb2027;
}
.fa-ellipsis-v {
  position: absolute;
  top: 20px;
  right: 20px;
  visibility: hidden;
}
#wrapper {
  width: 100%;
  height: calc(100vh - 40px);
  margin: 20px auto;
  border-radius: 20px;
  background-color: var(--main-color);
  backdrop-filter: blur(5px);
  --webkit-backdrop-filter: blur(5px);
  overflow: hidden;
}
/* SIDEBAE STYLE */
#wrapper #sidebar {
  color: var(--white-color);
  height: calc(100vh - 40px);
  padding: 60px 20px;
  box-sizing: border-box;
  border-radius: 20px 0px 0px 20px;
  background-color: var(--secondary-color);
  text-align: center;
  position: relative;
}
#wrapper #sidebar:before {
  content: "";
  width: 2%;
  height: 100%;
  right: -2px;
  top: 0;
  position: absolute;
  background-color: var(--shadow-color);
  z-index: -1;
  filter: blur(8px);
}
#wrapper #sidebar .logo {
  width: 100px;
  height: 100px;
  margin: 0 auto 50px auto;
  /* padding: 5px; */
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  background-color: var(--white-lit-color);
  box-shadow: 0 0 1px 5px var(--shadow-color);
  overflow: hidden;
}
#wrapper #sidebar .logo img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
#wrapper #sidebar a {
  width: 80%;
  font-size: 14px;
  color: var(--white-color);
  border: 1px solid transparent;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 20px auto;
  border-radius: 15px;
  background-color: transparent;
  box-shadow: 0 0 1px transparent;
  text-transform: uppercase;
  transition: 0.5s;
  position: relative;
}
#wrapper #sidebar a:before {
  content: "";
  width: 8%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
  transform: rotate(15deg);
  transition: 0.5s;
  border-radius: 15px;
  z-index: -1;
  filter: blur(3px);
}
#wrapper #sidebar a:hover:before {
  left: 100%;
  width: 0;
  background-color: var(--white-lit-color);
  opacity: 1;
}
#wrapper #sidebar a:hover,
#wrapper #sidebar .active {
  border: 1px solid var(--main-color);
  background-color: var(--white-lit-color);
  box-shadow: 0 0 1px 5px var(--shadow-color);
}
#wrapper #sidebar a i {
  margin-right: 10px;
}
.copyright {
  width: calc(100% - 40px);
  position: absolute;
  bottom: 0;
}
.copyright p {
  font-size: 14px;
}
/* MAIN AREA STYLE */

/* @media only screen and (min-width: 320px) and (max-width: 520px) {
  #wrapper {
    width: 100%;
    height: auto;
    margin: auto;
    overflow: auto;
    border-radius: unset;
  }
  #wrapper #sidebar {
    width: 100%;
    height: 140px;
    padding: 20px;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 0px 0px 20px 20px;
  }
  .menu-height {
    height: auto !important;
    transition: height 0.5s;
  }
  #wrapper #sidebar .logo {
    margin-bottom: 30px;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #wrapper #sidebar a {
    width: unset !important;
    margin-bottom: 10px;
  }
  #wrapper #sidebar a:hover,
  #wrapper #sidebar .active {
    border: unset !important;
  }
  .copyright {
    position: unset;
    width: unset;
  }
  .copyright p {
    margin-top: 15px;
  }
  .fa-ellipsis-v {
    visibility: visible;
  }
}
@media only screen and (min-width: 768px) and (max-width: 920px) {
  #wrapper #sidebar a {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1024px) {
  #wrapper #sidebar a {
    width: unset;
    font-size: 12px;
  }
} */

.col-md-9.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-cont {
  height: 400px;
  width: 500px;
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}
.main-cont .num-row {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 50px;
}
.num-row .num-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.num-cont .num {
  border: 1px solid var(--main-color);
  background-color: var(--white-lit-color);
  box-shadow: 0 0 1px 5px var(--shadow-color);
  border-radius: 15px;
  padding: 5px 15px;
}

/* analysis*/
.month-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  overflow-x: scroll;
  /* padding: 2px 0px; */
  height: 55px;
}
.month-bar p {
  padding: 2px 5px;
  font-size: 20px;
  color: white;
  transition-duration: 0.3s;
  box-sizing: border-box;
  border-radius: 15px;
  margin: 5px;
  border: 1px solid transparent;
}
.month-bar p:hover {
  /* border: 1px solid var(--main-color); */
  border-color: var(--main-color);
  background-color: var(--white-lit-color);
  box-shadow: 0 0 1px 5px var(--shadow-color);
}
.month-bar::-webkit-scrollbar {
  background: transparent;
  height: 6px;
}
.month-bar::-webkit-scrollbar-thumb {
  background: var(--shadow-color);
  border-radius: 15px;
}
.month-profit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.month-profit div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  flex-direction: column;
}
.profit-num {
  background-color: var(--white-lit-color);
  padding: 5px;
  border-radius: 5px;
  border: 3px solid var(--shadow-color);
}
.days-table {
  display: flex;
  flex-direction: column;
  /* margin-top: 30px; */
  height: 300px;
  /* overflow-y: scroll; */
  overflow: scroll;
  width: 100%;
  /* overflow-x: scroll; */
}
.days-table::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  height: 10px;
}
.days-table::-webkit-scrollbar-track {
  background-color: transparent;
}
.days-table::-webkit-scrollbar-thumb {
  background-color: var(--shadow-color);
  border-radius: 15px;
}
.day-row {
  display: flex;
  /* gap: 10px; */
}
.day-row p {
  /* width: 150px; */
  min-width: 20%;
  text-align: right;
  border-color: var(--shadow-color);
  border-width: 3px;
  border-style: solid;
  background-color: var(--white-lit-color);
  padding: 0;
  margin: 0;
  font-size: 18px;
  padding: 5px;
}
.amount-analysis {
  margin: 10px auto;
  width: fit-content;
  text-align: center;
  /* margin-top: 30px; */
  height: 70px;
  color: var(--shadow-color);
  font-size: 20px;
}
.amount-analysis p {
  padding: 0;
  margin: 0;
}
p.money-amount-analysis {
  border-color: var(--main-color);
  background-color: var(--white-lit-color);
  box-shadow: 0 0 1px 5px var(--shadow-color);
  border-radius: 15px;
  margin-top: 10px;
}
/* -analysis- */

/* income */
.money-section {
  justify-content: flex-start;
  flex-direction: column;
}
.scroll-wrapper {
  width: 100%;
  max-height: calc(100% - 350px);
  overflow-y: scroll;
  margin: 32px 0;
}
.data-table {
  width: 100%;
  overflow-y: scroll;
}
.data-table th,
td {
  border: 2px solid var(--secondary-color);
  padding: 10px;
  text-align: center;
}
.data-table th {
  background-color: var(--secondary-color);
}

*:focus {
  outline: none;
  border: none;
}
.add-transaction {
  display: flex;
  align-items: center;
}
input,
select {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  height: 50px;
}
input[type="submit"] {
  padding: 10px;
  color: white;
  background-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
}
/* -income- */
